body {
    margin: 15px;
    padding: 15px;
}

.jumbotron {
    margin: 15px;
    padding:15px;
}

.currentPerson p {
    display: inline;
}

.selected {
    font-style: italic;
    display: block;
}

.highlight {
    color: magenta;
    font-style: italic;
}

.hidden {
    display: none;
}