body {
    margin: 15px;
    padding: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.jumbotron {
    margin: 15px;
    padding:15px;
}

#peopleContent {
    margin: 0 auto;
}

#showcase {
    height: 200px;
}

#showcase, span {
    text-align: center;
    padding: 15px;
}

.selectedPerson {
    margin: 2px;
}

.highlight {
    color: magenta;
    font-style: italic;
    font-family: Impact, Charcoal, sans-serif;
}

.hidden {
    display: none;
}